body {
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.hero {
  display: flex;
  position: relative;
  width: 100vw;
  height: 962px;

  img {
    object-fit: cover;
  }
}

// Le titre doit être positionné absolument pour le superposer sur le hero
img.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}