#masthead {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  z-index: 11;
  background-color: #ffffff;

  @media (max-width: 785px) {
    height: 120px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #site-navigation {
    margin-top: 20px;
  }

  .site-logo {
    display: flex;
    margin-left: 6rem;
    margin-top: 25px;

    @media (max-width: 785px) {
      margin-top: 40px;
      margin-left: 1em;
    }
  }

  @media (min-width: 771px) {
    .menu-menu-principal-container {
      display: flex;
      justify-content: space-between;
      font-family: Space Mono;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      margin-right: 6rem;
    }

    .menu-content {
      display: none;
    }

    .main-navigation {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .menu-toggle {
        display: none;
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {
          margin: 0 1rem;

          a {
            color: #000000;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media (max-width: 770px) {
    .menu-menu-principal-container {
      opacity: 0;
      visibility: hidden;
    }

    .logo {
      max-height: 40px;
      display: flex;
    }

    #menu-content {
      opacity: 0;
      visibility: hidden;
    }

    button.menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      top: 55px;
      right: 5%;
      position: absolute;
      z-index: 11;
      background-color: #FFFFFF;
      border: none;

      .line {
        width: 3em;
        height: 2px;
        background-color: #000;
        margin: 5px auto;
        top: 0;
      }

      &.menu-opened {
        z-index: 11;
        margin-left: 0;

        .line {
          display: none;
        }

        &:before,
        &:after {
          position: absolute;
          content: '';
          height: 2px;
          width: 3em;
          top: 50%;
          margin-top: -1px;
          background-color: #000;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    #menu-content.toggled {
    opacity: 1;
    visibility: visible;
    animation: moveInRight 3s ease-out forwards;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;

      .menu-liens {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin-top: 100px;

        a {
          font-family: Space Mono;
          font-size: 44px;
          font-weight: 400;
          line-height: 65px;
          letter-spacing: 0em;
          color: white !important;
          background: #E00000;
          text-decoration: none !important;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }
}

.single #masthead {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#primary-menu2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 38px;
}